<p>
  <strong>Title:</strong>
  <%= @travel.title %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @travel.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @travel.end_date %>
</p>

<p>
  <strong>Locations:</strong>
  <ul>
    <% @travel.locations.each do |location| %>
      <li><%= link_to location.name, location_path(location) %></li>
    <% end %>
  </ul>
</p>

<%= link_to 'New Location', new_location_path(travel: @travel) %>

<%= link_to 'Edit', edit_travel_path(@travel) %> |
<%= link_to 'Back', travels_path %>
