<p>
  <strong>Title:</strong>
  <%= @travel.title %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @travel.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @travel.end_date %>
</p>

<% @travel.comments.each do |comment| %>
  <p>
    <%= comment.content %>
  </p>
<% end %>

<p>
  <strong>Locations:</strong>
  <ul>
    <% @travel.locations.each do |location| %>
      <li><%= link_to location.name, location_path(location) %></li>
    <% end %>
  </ul>
</p>


<%= render 'locations/form', { location: Location.new } %>
<%= render "comments/form", { commenteable_id: @travel.id, commenteable_type: @travel.class, comment: Comment.new } %>

<%= link_to 'Edit', edit_travel_path(@travel) %> |
<%= link_to 'Back', travels_path %>
