<p>
  <strong>Title:</strong>
  <%= @travel.title %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @travel.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @travel.end_date %>
</p>

<% @travel.comments.each do |comment| %>
  <p>
    <%= comment.content %>
  </p>
<% end %>

<p>
  <strong>Locations:</strong>
  <ul>
    <% @travel.locations.each do |location| %>
      <li><%= link_to location.name, location_path(location) %></li>
    <% end %>
  </ul>
</p>

<div><a id='add_new_location' class='clickable_text'>Add new Location</a></div>
<div class='location_form'><%= render 'locations/form', { location: Location.new } %></div>
<div><a id='add_new_comment' class='clickable_text'>Add new Comment</a></div>
<div class='comment_form'><%= render "comments/form", { commenteable_id: @travel.id, commenteable_type: @travel.class, comment: Comment.new } %></div>

<%= link_to 'Edit', edit_travel_path(@travel) %> |
<%= link_to 'Back', travels_path %>

<script>
  $('.location_form, .comment_form').hide();

  $('#add_new_location').click(function() {
    $('.location_form').toggle();
  });

  $('#add_new_comment').click(function() {
    $('.comment_form').toggle();
  });
</script>