<p>
  <strong>Name:</strong>
  <%= @location.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @location.address %>
</p>

<p>
  <strong>Trip:</strong>
  <%= @location.trip_id %>
</p>

<% @location.comments.each do |comment| %>
  <p>
    <%= comment.content %>
    <%= link_to 'Delete Comment', comment_path(comment), method: :delete %>
  </p>
<% end %>

<div><a id='add_new_comment' class='clickable_text'>Add new Comment</a></div>
<div class='comment_form'><%= render "comments/form", { commenteable_id: @location.id, commenteable_type: @location.class, comment: Comment.new } %></div>

<%= link_to 'Edit', edit_location_path(@location) %> |
<%= link_to 'Back', trip_path(@location.trip) %>

<script>
  $('.location_form, .comment_form').hide();

  $('#add_new_comment').click(function() {
    $('.comment_form').toggle();
  });
</script>
